<section>
  <div class="container">
    <div class="w-full m-auto max-w-lg mt-4">
      <%= link "New Recipe", to: Routes.live_path(@conn, BreadWeb.BreadLive.RecipeForm), class: "bg-teal-500 hover:bg-teal-600 text-white font-bold py-1 px-4 border border-teal-500 hover:border-teal-600 rounded cursor-pointer" %>
    </div>
  </div>
</section>
