<section>
  <div class="w-full relative" >
    <%= img_tag(Routes.static_path(@conn, "/images/bread-table.jpg"), class: "w-full") %>
    <div class="absolute inset-0 w-full" >
      <div class="p-8">
        <h1 class="text-7xl text-white font-bold" >Bake Something</h1>
      </div>
    </div>
  </div>
</section>
