/* This file is for your main application css. */
@tailwind base;
@tailwind components;

.content-container {
  @apply m-auto mt-4;
}

.page-header {
  @apply text-4xl font-bold;
}

.section-header {
  @apply text-2xl font-bold;
}

@tailwind utilities;

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.text-7xl {
  font-size: 5rem;
}

.text-8xl {
  font-size: 6rem;
}

.text-9xl {
  font-size: 7rem;
}

.text-12xl {
  font-size: 10rem;
}

.leading-tight-xl {
  line-height: .85;
}

.hero-header {
  font-size: 4rem;
  line-height: 1;
}

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0,1,0,1);

  &.show {
    max-height: 100rem;
    transition: max-height .5s ease-in-out;
  }
}

@media only screen and (min-width: 768px) {
  .hero-header {
    font-size: 8rem;
    line-height: .85;
  }
}

